@import "./variables.scss";

.profile-header {
  transform: translateY(5rem);
}

.userProfile {
  // background: #654ea3;
  // background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
  // background: linear-gradient(to right, #654ea3, #eaafc8);
  /* min-height: 100vh;  */
  /* should be chaged after  */
}

.header {
  padding: 8rem 0px !important;
  --bs-bg-opacity: 1;
  background-color: rgba($blueColor, var(--bs-bg-opacity)) !important;
  // px-4 py-5 bg-dark
}

.followProfile {
  color: $blueColor !important;
  cursor: pointer;
}

.modalBody {
  background: #4caf50;
  color: white;
  padding: 15px;
  width: 50%;
  height: 100px;
  overflow: scroll;
  border: 1px solid #ccc;
}
